@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@700&display=swap");
.topnav {
  background-color: #333;
  width: 100%;
  margin: 0;
  position: absolute;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color:black;
  
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}  
 
body {
  background-color: #04AA6D ;
  
}


.header {
  background-color:;
  width: 100%;
  margin: -1px auto;
  text-align: center;
  padding: 11px 15px 0;
  max-width: 470px
  
 
}



.header-title {
  background-color:  ;
  position: relative;
  margin: 184px 50px 15px;
  padding: 0px 0px -25px;
  
   
}

h1 {
  box-sizing: border-box;
  font-size: 80px;
  text-align: center;
  color: white;
  
 }

 .header-title2 {
  margin: 0 -5px;
  padding: 0px 0px 10px;
  
}
h2 {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  color: white;
  
}

form {
  display: block;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input[type="hidden" i] {
  background-color:#ddd;
  cursor: default;
  display: none !important;
  border-radius: initial;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

*, html {
  -webkit-appearance: none;
}
.lp * {
  box-sizing: border-box;
}
.lp {
  font-size: 14px;
  display: flex;
  position: relative;
  text-align: left;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
  background-color:#eee;
}

.lp_container {
  flex-grow: 1;
}

.lp_container:before {
  color: #d7d7d7;
  content: "\e973";
  font-family: fontello;
  font-size: 1rem;
  position: absolute;
  left: 1rem;
  top: .7rem;
  z-index: 50;
}

.lp_search-button {
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-weight: 600;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 0 2px 2px 0;
  padding: 0 21px;
  white-space: nowrap;
}

a {
  outline: 0;
  text-decoration: none;
}

.wai_screenreader {
  position: absolute!important;
  top: 0;
  right: 10px;
  clip: rect(1px,1px,1px,1px);
}

.lp_container .lp_input.open {
  border-radius: 2px 2px 0;
}
.lp_container .lp_input {
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-weight: 400;
  background-color: #eee;
  font-size: 15px;
  width: 100%;
  -webkit-appearance: none;
  height: rem;
  border-radius: 2px 0 0 2px;
  padding: 0 1rem 0 2.7rem;
  outline: none;
}

.lp_places-container .suggestions {
  display: none;
  font-size: 12px;
}

.lp_places-container .skip, .lp_places-container .suggestions {
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-weight: 600;
}

.deliveryareaerror {
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
  font-weight: 600;
  display: none;
  position: absolute;
  top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  z-index: 200;
  background-color: rgba(58,58,58,.8);
  color: #fff;
  font-size: 13px;
  text-align: center;
  left: 0;
  right: 0;
  width: 90%;
  margin: 2rem auto 0;
}

.clear {
  clear: both;
}

div {
  display: block;
}

input:focus::-webkit-input-placeholder{
  opacity: 0;
}

input:focus::-moz-placeholder{
   opacity: 0;
}

input:focus::-ms-placeholder{
   opacity: 0;
}

.subheader_slope {
  position: absolute;
  width: 100%;
  height: 9vw;
  top: -1px;
  overflow:hidden;
  -webkit-clip-path: polygon(0 0,100% 0,100% 0,0 100%);
  background: #04AA6D;
  margin-top: 400px;
}

.main-category .subheader_image, 
.step1 .subheader_image, 
.sub-category .subheader_image {
  min-height: 262px;
}

.subheader_image--Burger-fast-food-wallpaper {
  background-image: url(/251menu/images/Burger-fast-food-wallpaper.jpg);
}

.subheader_image {
  max-height: 60vw;
  background-repeat: no-repeat;
  background-position-y: calc(49% -9vw);
  height: 60vw;
  background-size: 100%;
  background-position-x: 50%;
}
